---
import { getCollection } from "astro:content";
import type { CollectionEntry } from 'astro:content';

import PersonalPage from "@layouts/personal-page.astro";
import LinkPreview from "@components/general/link-preview.astro";
import SeeMoreLink from "@components/general/see-more-link.astro";


export interface Props {
    item: CollectionEntry<"collections">
}


export async function getStaticPaths() {
    const collections = await getCollection("collections")
    return collections.map(item => ({
        params: { slug: item.slug },
        props:  { item: item }
    }));
}

const { item } = Astro.props;
const { Content } = await item.render();
---

<PersonalPage title={`${item.data.title} Collection | Sahil Patel`}>
    <div class="container">
        <h1 class="section-title">{item.data.title}</h1>
        <p class="subtitle text-center">{item.data.description}</p>

        <div class="markdown">
            <Content />
        </div>

        <div class="grid-list mt-700">
            {item.data.links.map(link => <LinkPreview href={link.href} description={link.description} />)}
        </div>

        <div class="text-center mt-400">
            <SeeMoreLink pointLeft text="Back to all collections" href={`/personal/collections#${ item.slug }`} />
        </div>
    </div>
</PersonalPage>