---
import { MDXInstance } from 'astro';
import { ReviewData } from '../types'
import { getReviewItemThumbnail } from '../util'
import Chip from './chip.astro'

export interface Props {
    item: MDXInstance<ReviewData>,
    classList?: string,  // Extra classes if desired
}

const { item, classList } = Astro.props as Props;
const data = item.frontmatter;

const thumbnail = await getReviewItemThumbnail(item.frontmatter);
---

<div class={`review-card box-shadow-float p-400 ${classList || ""}`} data-tier={data.tier} >
    <img class="review-thumbnail" src={thumbnail} />
    <div class="flow">
        <div>
            <h1>{data.title}</h1>
            { data.author ? <h2 class="subtitle">By {data.author}</h2> : null }
        </div>

        <div class="review-tier-container" data-tier={data.tier} title={data.tierAsterisk ? `Asterisk for ${data.tierAsterisk}` : null}>
            <span class="review-tier">{data.tier}{data.tierModifier}</span> Tier{data.tierAsterisk ? "*" : null}
        </div>

        <div>
            <div class="mb-100">Tags:</div>
            <div class="review-tags">
                <!-- TODO: Link these tags to a search page -->
                {data.tags.map(tag => <Chip>{tag}</Chip>)}
            </div>
        </div>
    </div>
</div>
